@media (min-width: 525px) {
  .right-panel {
    padding-block: 2rem;

    .note-container {
      padding-inline: 2rem;
    }

    .login-text {
      padding-inline: 2rem;
    }
  }

  #signup-form {
    .signup-form__sec1 {
      padding-inline: 2rem;

      .inputs-container {
        fieldset {
          flex-direction: row;
          gap: 2rem;
          margin-bottom: 2rem;
        }
      }
    }

    .signup-form__sec2 {
      padding-inline: 2rem;
    }
  }
}

@media (min-width: 900px) {
  .root-container {
    .max-width-content-container {
      flex-direction: row;
    }
  }

  .left-panel {
    width: 35%;
    min-height: 100vh;

    .logo-container {
      transform: translateY(-100%);
    }
  }

  .right-panel {
    width: 65%;
    display: flex;
    align-items: center;
  }
}

@media (min-width: 1440px) {
  .left-panel {
    width: 40%;
  }

  .right-panel {
    width: 60%;

    .note-container {
      padding-inline: 4rem;
    }

    .login-text {
      padding-inline: 4rem;
    }
  }

  #signup-form {
    .signup-form__sec1 {
      padding-inline: 4rem;

      .inputs-container {
        fieldset {
          flex-direction: row;
          gap: 4rem;
        }
      }
    }

    .signup-form__sec2 {
      padding-inline: 4rem;
    }
  }
}