.right-panel {
  .note-container {
    padding: 1rem;

    h3 {
      font-size: clamp(2.2rem, 2.6vw, 2.6rem);
      font-weight: 600;
      line-height: 1.2;
    }

    h3:nth-of-type(2) {
      margin-bottom: 0.75em;
    }

    h3:nth-of-type(3) {
      margin-bottom: calc(0.75em * 2.5);
    }
  }

  .login-text {
    font-size: 1.8rem;
    font-weight: 600;
    padding: 1rem;

    a {
      color: #596d48;
    }
  }
}