#signup-form {
  margin-bottom: 2rem;

  .signup-form__sec1 {
    background-color: white;
    padding: 2rem 1rem;
    box-shadow: 0 8px 6px rgba(0, 0, 0, 0.2);

    h2 {
      font-size: clamp(2.2rem, 2.6vw, 2.6rem);
      margin-bottom: 1.8rem;
    }

    .inputs-container {
      fieldset {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        border: none;
        margin-bottom: 1rem;

        div {
          width: 100%;
        }

        label,
        input {
          display: block;
          width: 100%;
        }

        label {
          font-size: 1.4rem;
          font-weight: 600;
          text-transform: uppercase;
          letter-spacing: 1px;
          margin-bottom: 3px;
        }

        input {
          font-size: 1.5rem;
          padding: 8px;
          border: 1px solid transparent;
          outline: none;
          border-radius: 3px;
        }

        input:focus {
          border-color: rgb(0, 150, 255);
          box-shadow: 0 1px 5px rgba(0, 150, 255, 0.5);
        }

        input:valid:not(:focus) {
          border-color: green;
        }

        input:invalid:not(:focus) {
          border-color: red;
        }
      }
    }
  }

  .signup-form__sec2 {
    padding: 3.2rem 1rem 0;

    input[type="submit"] {
      background-color: #596d48;
      color: white;
      border: none;
      font-size: 1.8rem;
      padding: 0.75em calc(0.75em * 4);
      border-radius: 8px;
      cursor: pointer;
    }

    input[type="submit"]:hover {
      background-color: rgb(89, 116, 50);
    }
  }
}
